.section-about {
    
    &__progress {
        display: flex;
        justify-content: center;

        &--first {
            width: 26%;
            height: .2rem;
            background-color: #ebebeb;
            margin-right: 2rem;
        }

        &--secondary {
            width: 26%;
            height: .2rem;
            background-color: #ebebeb;
            margin-right: 2rem;
        }

        &--tertiary {
            width: 26%;
            height: .2rem;
            background-color: #ebebeb;
        }

        &--percent-1 {
            width: 60%;
            background-color: #F18B6D;
        }

        &--percent-2 {
            width: 82%;
            background-color: #F1D204;
        }

        &--percent-3 {
            width: 86%;
            background-color: #6A4D8A;
        }

        .progress {
            height: .5rem;
            margin-top: -.1rem;
        }

        &--circle-1 {
            background-color: #F18B6D;
            margin-left: 59%;
        }

        &--circle-2 {
            background-color: #F1D204;
            margin-left: 81%;
        }

        &--circle-3 {
            background-color: #6A4D8A;
            margin-left: 85%;
        }

        .circle {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            margin-top: -.75rem;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 13rem;
    }

    .heading-title {
        font-size: 1.4rem;
        font-weight: 400;

        &--primary {
            color: #F18B6D;
        }

        &--secondary {
            color: #F1D204;
            margin-left: -2rem;
        }

        &--tertiary {
            color: #6A4D8A;
            margin-right: 25rem;
        }

        i {
            font-size: 1.3rem;
            margin-right: .5rem;
        }
    }
    
    &__message-box {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;

        .rectangle-1 {
            padding: .5rem 1.7rem;
            background-color: #F18B6D;
            border-radius: .3rem;
            left: 8.6%;
            margin-bottom: .5rem;
            position: relative;

            .triangle-1 {
                background-color: #F18B6D;
                padding: 1.5rem 3rem;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                position: absolute;
                top: 0;
                left: 0;
                margin-top: .3rem;
                z-index: -1;
            }
        }

        .rectangle-2 {
            padding: .5rem 1.7rem;
            background-color: #F1D204;
            border-radius: .3rem;
            left: 8.5%;
            margin-bottom: .5rem;
            position: relative;

            .triangle-2 {
                background-color: #F1D204;
                padding: 1.5rem 3rem;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                position: absolute;
                top: 0;
                left: 0;
                margin-top: .3rem;
                z-index: -1;
            }
        }

        .rectangle-3 {
            padding: .5rem 1.7rem;
            background-color: #6A4D8A;
            border-radius: .3rem;
            left: 3.7%;
            margin-bottom: .3rem;
            position: relative;

            .triangle-3 {
                background-color: #6A4D8A;
                padding: 1.5rem 3rem;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                position: absolute;
                top: 0; 
                left: 0;
                margin-top: .3rem;
                z-index: -1;
            }
        }

        span {
            font-size: 1.4rem;
            color: white;
        }
    }
}

.section-projects {
    background-image: url(https://demo.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/pattern.png);
        background-repeat: repeat;
        background-size: auto ;

    &__images {
        display: flex;
        width: 100%;
        cursor: pointer;

        img {
            width: 25%;
            transition: all .3s;
        }

        & img:hover {
            opacity: .5;
        }
    }
}

