.heading-secondary {
    color: $color-grey;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
}

.paragraph {
    color: $color-grey-2;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0 19rem;
    line-height: 2.6rem;
    font-size: $default-font-size;
}